<div class="login-wrapper">
  <div class="login-header">Login to HighLow</div>
  <form name="login">
    <div class="login-field">
      <input type="text" name="username" ng-model="loginData.username" placeholder="Username">
    </div>
    <div class="login-field">
      <input type="password" name="password" ng-model="loginData.password" placeholder="Password">
    </div>
    <div class="login-field">
      <button ng-click="loginUser()">Login</button>
    </div>
    <div class="login-field">
      <button ng-click="register()">Register</button>
    </div>
  </form>
</div>
