<div class="game">
  <div class="game-content">
    <div class="banner">
      <h3>Game Name: {{ currentGame.gameName }}</h3>
    </div>

    <div class="game-area">
      <div class="game-content">
        <div class="members">    
          <span>Members:</span>
          <ul>
            <li ng-repeat="member in currentGame.members">
              {{ member.id }}: {{ member.nickname }}
            </li>
          </ul>
        </div>

        <div class="table">
          #Table: cards that are in play, scoreboard
        </div>

        <div class="player-area">
          #Player-Area:  cards, bidding controls
        </div>
      </div>
    </div>

    <div class="controls">
      <button
        type="button"
        ng-show="currentGame.isHost"
        ng-click="startGame()">
        Start Game
      </button>
      <button
        type="button"
        ng-show="!currentGame.isHost"
        ng-disabled="currentGame.isReady"
        ng-click="setReadyState(true)">
        Ready up
      </button>

      <button
        type="button"
        ng-click="setReadyState(false)">
        Busy
      </button>
    </div>
    
    <div class="chat-toggle-wrapper">
      <chat-window 
        nsp="gameList" 
        class="game-chat" 
        ng-show="chatOpen"
        handler="chatHandler">
      </chat-window>

      <div class="chat-toggle-area" ng-click="toggleChat()">
        Chat Toggle
      </div>
    </div>
  </div>
</div>
