<div class="game">
  <div class="game-content">
    <div class="banner">
      <h3>Game Name: {{ currentGame.gameName }}</h3>
    
      Members: <br>
      <ul>
        <li ng-repeat="member in currentGame.members">
          {{ member.id }}: {{ member.nickname }}
        </li>
      </ul>
    </div>

    <div class="game-area">
      Current game: {{ currentGame.hostId }} <br>
      Me: {{ authUser }} <br>
      Am I Ready?: {{ currentGame.isReady }} <br>

      Game state: <br>
      {{ currentGame }}
    </div>

    <div class="controls">

      <button
        type="button"
        ng-show="currentGame.isHost"
        ng-click="startGame()">
        Start Game
      </button>
      <button
        type="button"
        ng-show="!currentGame.isHost"
        ng-disabled="currentGame.isReady"
        ng-click="setReadyState(true)">
        Ready up
      </button>

      <button
        type="button"
        ng-click="setReadyState(false)">
        Busy
      </button>
    </div>
    
    <div class="chat-wrapper">
      <chat-window 
        nsp="gameList" 
        class="game-chat" 
        handler="chatHandler">
      </chat-window>
    </div>
  </div>
</div>
