.game {
  position: relative;
  margin: 0 auto;
  width: 100rem;
  height: 46rem;
  border: 1px solid #333;
}

.game-content {
  padding: 1rem;
}

.game .controls,
.game .banner,
.game .game-area {
  width: 100%;
}

.game .controls {
  height: 3rem;
  text-align: center;
}

.game .controls button {
  margin: 1rem 0;
}

.game .banner {
  border: 1px solid #CCC;
  height: 3rem;
}

.banner h3 {
  margin: 0.5rem;
}

.game-area {
  position: relative;
  height: 38rem;
  border: 1px solid #ccc;

  .game-content {
    padding: 1rem;
  }

  .members {
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16rem;
    height: 10rem;
  }

  .table {
    border: 1px solid #333;
    position: absolute;
    height: 26rem;
    width: 80rem;
    top: 0;
    left: 10rem;
  }

  .player-area {
    border: 1px solid #333;
    position: absolute;
    height: 10rem;
    width: 40rem;
    bottom: 0;
    left: 50rem - 20rem;
  }
}

.chat-toggle-wrapper {
  background: #FFF;
  position: absolute;
  width: 25rem;
  right: 0;
  bottom: 0;
  z-index: 10;

  .chat-toggle-area {
    border: 1px solid #333;
    height: 2rem;
    width: 100%;
    cursor: pointer;
  }
}

chat-window.game-chat {
  width: 25rem;

  .chat-window-wrapper {
    border: 1px solid #ccc;
  }

  .chat-messages,
  .chat-input-wrapper {
    padding: 0;
  }

  .chat-messages {
    height: 12rem;
    padding: 0.25rem;
  }
}
