.game {
  position: relative;
  margin: 0 auto;
  width: 70rem;
  height: 46rem;
  border: 1px solid #333;
}

.game-content {
  padding: 1rem;
}

.game .controls,
.game .banner,
.game .game-area {
  width: 100%;
}

.game .controls {
  height: 3rem;
  text-align: center;
}

.game .controls button {
  margin: 1rem 0;
}

.game .banner {
  border: 1px solid #CCC;
  padding: 0.5rem;
  height: 5rem;
  overflow: auto;
}

.banner h3 {
  margin: 0;
}

.game-area {
  height: 20rem;
  border: 1px solid #ccc;

  .game-content {
    padding: 1rem;
  }
}

chat-window.game-chat {
  position: absolute;
  width: 45rem;
  left: 35rem - (45rem / 2);
  bottom: 0;

  .chat-window-wrapper {
    border: 1px solid #ccc;
  }

  .chat-messages {
    height: 12rem;
  }
}
